<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3><%= f_name %> You're <%= age %></h3> 
	<br>
	Your favorite food is <%= food %>
	<br>
	Your favorite drink is <%= drink %>
	<br>
	<h3>Your favorite numbers are <%= number_1 %>, <%= number_2 %>, and <%= number_3 %></h3>
	<br>
	Your favorite color is <%= color %>
</body>
</html>


